.background {
    background-color: palevioletred;
}

.pad {
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.pad1 {
    padding: 10px;
}

.pad2 {
    padding-right: 15px;
}

.pad3 {
    padding: 10px;
}

.container{
    display: flex;
}

.element__search {    
    flex-basis: 45%;
}

.element__carousel {
    flex-basis: 100%;
}

.element__hero {
    flex-basis: 33%;
}

span {
    background-color: rgb(243, 217, 221);
}