:host {
    display: block;
    background-color: palevioletred;
}

.pad {
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.pad2 {
    padding-right: 15px;
}

.pad3 {
    padding: 10px;
}

.container{
    display: flex;
}

.container2{
    display: flex;
    flex-direction: column;
}

.element__search {    
    flex-wrap: wrap;
}

.element__hero2 {
    flex-direction: column;
}

.col25 {
    flex-basis: 25%;
}

.col75 {
    flex-basis: 75%;
}

.col100 {
    flex-basis: 100%;
}