<form #produitForm="ngForm">
    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Nom du produit</mat-label>
        <input name="nom" [(ngModel)]="produit.nom" #nom="ngModel" matInput required minlength="2" maxlength="50"  placeholder="Ex. Produit ABC">
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>

    </mat-form-field>
    <mat-form-field required appearance="fill" class="half-width">
        <mat-label>Prix</mat-label>
        <input name="prix" [(ngModel)]="produit.prix" #prix="ngModel" required type="number" step=".50" matInput placeholder="Ex. 10.00">
        <mat-error *ngIf="nom.invalid && (prix.dirty || prix.touched) && prix.hasError('required')">Le prix est obligatoire.</mat-error>
        <span matSuffix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea name="description" [(ngModel)]="produit.description" #description="ngModel" required matInput placeholder="Ex. Description du produit..."></textarea>
        <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('required')">La description est obligatoire.</mat-error>
    </mat-form-field>

    <button matSuffix type="submit" mat-icon-button color="primary" [disabled]="!produitForm.form.valid" (click)="onSave(produitForm)"><i class="material-icons">add</i></button>
</form>